{{> header}}
<h1>Agregar Producto</h1>
<form action="/products" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Título" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="text" name="code" placeholder="Código" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="number" name="stock" placeholder="Stock" required>
    <input type="text" name="category" placeholder="Categoría" required>
    <input type="file" name="thumbnails" multiple>
    <button type="submit">Agregar</button>
</form>
