<h1 class="text-center mt-4">Productos</h1>

<div class="container mt-4">
    <div class="row">
        {{#each products}}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">

                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>

                    <p class="fw-bold">${{price}}</p>
                    <form action="/cart/add/{{this._id}}" method="POST">
                        <button class="btn btn-primary mt-2">Comprar</button>
                    </form>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>