{{!-- Solo contenido específico del home --}}
<section id="home">
  <p>Bienvenido al E-commerce. Explora nuestros productos:</p>

  <section id="product-list">
    <ul>
      {{#each products}}
        <li>{{name}} - ${{price}}</li>
      {{/each}}
    </ul>
  </section>
</section>
