<h2>Login de Usuario</h2>

{{#if error}}
  <p style="color:red;">{{error}}</p>
{{/if}}

<form action="/api/users/login" method="POST">
  <label>Email:</label>
  <input type="email" name="email" required>
  <br>
  <label>Contraseña:</label>
  <input type="password" name="password" required>
  <br>
  <button type="submit">Ingresar</button>
</form>

<p>¿No tenés cuenta? <a href="/users/register">Registrate</a></p>
